/*============ HOME ============*/

main {
    margin-top: var(--header-height);
}

.navlink__homepage {
    display: none !important;
}

.home {
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.home__title--container {
    width: 780px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 20%;
}

.home__title {
    font-weight: var(--font-semibold);
    font-size: 50px;
    line-height: 55px;
}

.home__title .home__title--primary {
    color: var(--primary-color);
    text-transform: capitalize;
}

.home__title--secondary {
    color: var(--text-color);
}

/* ANIMAÇÃO DE LOADING */
.loading {
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 50%;
    left: calc(50% - 60px);
    border-radius: 100%;
    border: solid 10px var(--overlay-color);
    border-right: 10px solid transparent;
    animation: loading .4s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}